### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame- display the CSV with Pandas
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(40)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14

## Player Count

* Display the total number of players

In [2]:
purchase_data["Price"]

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64

In [3]:
#
players_data = purchase_data.loc[:,['SN','Age','Gender']]
players_data = players_data.drop_duplicates()
players_data

#Count the number of players
player_counts = players_data.count()[0]
player_counts

#Create a data frame
player_counts_df = pd.DataFrame({"Player Counts": [player_counts]})
player_counts_df

   Player Counts
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#average price
item_price = purchase_data["Price"].mean()
item_price

#Total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

#number of purchases
total_purchases = purchase_data["Price"].count()
total_purchases

#number of unique items
unique_items = purchase_data["Item ID"].unique()
unique_items = len(unique_items)

#create a data frame 
purchasing_analysis_df = pd.DataFrame({"Item Price": [item_price],"Total Revenue": [total_revenue], 
                                       "Number of Purchases": [total_purchases], "Unique Items": unique_items})
purchasing_analysis_df

   Item Price  Total Revenue  Number of Purchases  Unique Items
0    3.050987        2379.77                  780           183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
#Count of male players
male_players = players_data["Gender"].value_counts()
male_players

percentage_counts = male_players/player_counts*100
percentage_counts

gender_demographics_df = pd.DataFrame({"Player Gender Count": male_players, 
                                       "Percent Distribution": percentage_counts})
gender_demographics_df
#Count of female players
#female_players - players_data["Female"].count()
#female_players

                       Player Gender Count  Percent Distribution
Male                                   484             84.027778
Female                                  81             14.062500
Other / Non-Disclosed                   11              1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
basic_calculations = purchase_data.groupby("Gender").count()["Price"]
basic_calculations

basic_sum = purchase_data.groupby("Gender").sum()["Price"]
basic_sum

purchase_gender = basic_sum/male_players
purchase_gender

mean_counts = purchase_data.groupby("Gender").mean()["Price"]
mean_counts


summary_df = pd.DataFrame({"Purchase Total": basic_sum, "Purchase Count": basic_calculations, "Avg. Purchase Price by Person": purchase_gender,
                           "Avg. Purchase By Gender": mean_counts})
summary_df

,Purchase Total,Purchase Count,Avg. Purchase Price by Person,Avg. Purchase By Gender
Gender,,,,
Female,361.94,113,4.468395,3.203009
Male,1967.64,652,4.065372,3.017853
Other / Non-Disclosed,50.19,15,4.562727,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,150]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],bins,labels=labels)
purchase_data

bin_counts = purchase_data["Age Ranges"].value_counts()
bin_counts

bin_percents = bin_counts/player_counts
bin_percents

20-24    0.633681
15-19    0.236111
25-29    0.175347
30-34    0.126736
35-39    0.071181
10-14    0.048611
<10      0.039931
40+      0.022569
Name: Age Ranges, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame